In [24]:
import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#Import regression models
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_predict, cross_val_score, GridSearchCV, train_test_split, RandomizedSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, recall_score, precision_score, roc_auc_score, roc_curve, log_loss, confusion_matrix
from sklearn.tree import export_graphviz
import graphviz
plt.style.use("fivethirtyeight")
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [3]:
daily_data= pd.read_csv('/Users/vasanthakumarthirugnanam/Desktop/Python/Data/daily_health_data.csv',delimiter = ',')

In [4]:
daily_data.head()

,Start,Finish,Active Calories (kcal),Cycling Distance (mi),Dietary Calories (cal),Distance (mi),Flights Climbed (count),Heart Rate (count/min),Resting Calories (kcal),Steps (count),Weight (lb)
0,17-Jan-2016 00:00,18-Jan-2016 00:00,0.0,0.0,0.0,0.821956,1.0,0.0,0.0,1715.0,0.0
1,18-Jan-2016 00:00,19-Jan-2016 00:00,0.0,0.0,0.0,2.837383,8.0,0.0,0.0,5829.0,0.0
2,19-Jan-2016 00:00,20-Jan-2016 00:00,0.0,0.0,0.0,1.161026,5.0,0.0,0.0,2463.0,0.0
3,20-Jan-2016 00:00,21-Jan-2016 00:00,0.0,0.0,0.0,1.693746,3.0,0.0,0.0,3878.0,0.0
4,21-Jan-2016 00:00,22-Jan-2016 00:00,0.0,0.0,0.0,1.423878,2.0,0.0,0.0,2894.0,0.0

In [5]:
daily_data['user'] = 'vasanth'

In [6]:
daily_data.head()

,Start,Finish,Active Calories (kcal),Cycling Distance (mi),Dietary Calories (cal),Distance (mi),Flights Climbed (count),Heart Rate (count/min),Resting Calories (kcal),Steps (count),Weight (lb),user
0,17-Jan-2016 00:00,18-Jan-2016 00:00,0.0,0.0,0.0,0.821956,1.0,0.0,0.0,1715.0,0.0,vasanth
1,18-Jan-2016 00:00,19-Jan-2016 00:00,0.0,0.0,0.0,2.837383,8.0,0.0,0.0,5829.0,0.0,vasanth
2,19-Jan-2016 00:00,20-Jan-2016 00:00,0.0,0.0,0.0,1.161026,5.0,0.0,0.0,2463.0,0.0,vasanth
3,20-Jan-2016 00:00,21-Jan-2016 00:00,0.0,0.0,0.0,1.693746,3.0,0.0,0.0,3878.0,0.0,vasanth
4,21-Jan-2016 00:00,22-Jan-2016 00:00,0.0,0.0,0.0,1.423878,2.0,0.0,0.0,2894.0,0.0,vasanth

In [7]:
daily_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 12 columns):
Start                      1039 non-null object
Finish                     1039 non-null object
Active Calories (kcal)     1039 non-null float64
Cycling Distance (mi)      1039 non-null float64
Dietary Calories (cal)     1039 non-null float64
Distance (mi)              1039 non-null float64
Flights Climbed (count)    1039 non-null float64
Heart Rate (count/min)     1039 non-null float64
Resting Calories (kcal)    1039 non-null float64
Steps (count)              1039 non-null float64
Weight (lb)                1039 non-null float64
user                       1039 non-null object
dtypes: float64(9), object(3)
memory usage: 97.5+ KB

In [13]:
daily_data.columns

Index(['Start', 'Finish', 'Active Calories (kcal)', 'Cycling Distance (mi)',
       'Dietary Calories (cal)', 'Distance (mi)', 'Flights Climbed (count)',
       'Heart Rate (count/min)', 'Resting Calories (kcal)', 'Steps (count)',
       'Weight (lb)', 'user'],
      dtype='object')

In [14]:
daily_data.columns = daily_data.columns.str.replace("(","_").str.replace(" ","_").str.replace(")","")
daily_data.columns

Index(['Start', 'Finish', 'Active_Calories__kcal', 'Cycling_Distance__mi',
       'Dietary_Calories__cal', 'Distance__mi', 'Flights_Climbed__count',
       'Heart_Rate__count/min', 'Resting_Calories__kcal', 'Steps__count',
       'Weight__lb', 'user'],
      dtype='object')

In [16]:
daily_data.columns = daily_data.columns.str.lower()

In [17]:
daily_data.head()

,start,finish,active_calories__kcal,cycling_distance__mi,dietary_calories__cal,distance__mi,flights_climbed__count,heart_rate__count/min,resting_calories__kcal,steps__count,weight__lb,user
0,17-Jan-2016 00:00,18-Jan-2016 00:00,0.0,0.0,0.0,0.821956,1.0,0.0,0.0,1715.0,0.0,vasanth
1,18-Jan-2016 00:00,19-Jan-2016 00:00,0.0,0.0,0.0,2.837383,8.0,0.0,0.0,5829.0,0.0,vasanth
2,19-Jan-2016 00:00,20-Jan-2016 00:00,0.0,0.0,0.0,1.161026,5.0,0.0,0.0,2463.0,0.0,vasanth
3,20-Jan-2016 00:00,21-Jan-2016 00:00,0.0,0.0,0.0,1.693746,3.0,0.0,0.0,3878.0,0.0,vasanth
4,21-Jan-2016 00:00,22-Jan-2016 00:00,0.0,0.0,0.0,1.423878,2.0,0.0,0.0,2894.0,0.0,vasanth

In [18]:
daily_data.weight__lb.value_counts()

0.000000      988
166.889932      4
166.228546      4
168.653631      3
168.212706      3
167.110395      3
168.433168      3
166.449008      3
167.330857      3
169.315017      2
169.755942      2
167.771782      2
166.669470      2
167.992244      2
167.551319      2
164.905772      1
169.976404      1
170.196866      1
171.800000      1
169.535480      1
176.200000      1
168.874093      1
165.787621      1
175.000000      1
169.094555      1
171.299178      1
170.800000      1
173.944725      1
Name: weight__lb, dtype: int64

In [19]:
daily_data_cl = daily_data.drop(['start','finish','user'],axis = 1)

In [20]:
daily_data_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 9 columns):
active_calories__kcal     1039 non-null float64
cycling_distance__mi      1039 non-null float64
dietary_calories__cal     1039 non-null float64
distance__mi              1039 non-null float64
flights_climbed__count    1039 non-null float64
heart_rate__count/min     1039 non-null float64
resting_calories__kcal    1039 non-null float64
steps__count              1039 non-null float64
weight__lb                1039 non-null float64
dtypes: float64(9)
memory usage: 73.1 KB

In [21]:
X = daily_data_cl

In [25]:
#Intialize scaler
ss = StandardScaler()

#Fit and transform scaler on data
Xs = ss.fit_transform(X)

#Intialize kmeans with 3 clusters and random_state = 10
km3_s = KMeans(n_clusters=3, random_state=10)

#Fit model
km3_s.fit(Xs)

#Generate labels
labs3_s = km3_s.labels_

#Value_counts
pd.value_counts(labs3_s)

2    735
0    217
1     87
dtype: int64

In [26]:
daily_data_cl['classify'] = labs3_s

In [27]:
daily_data_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 10 columns):
active_calories__kcal     1039 non-null float64
cycling_distance__mi      1039 non-null float64
dietary_calories__cal     1039 non-null float64
distance__mi              1039 non-null float64
flights_climbed__count    1039 non-null float64
heart_rate__count/min     1039 non-null float64
resting_calories__kcal    1039 non-null float64
steps__count              1039 non-null float64
weight__lb                1039 non-null float64
classify                  1039 non-null int32
dtypes: float64(9), int32(1)
memory usage: 77.2 KB

In [28]:
daily_data_cl.classify.unique()

array([1, 2, 0])

In [34]:
daily_data_cl[(daily_data_cl.classify == 1)].mean()

active_calories__kcal        3.539195
cycling_distance__mi         0.000000
dietary_calories__cal        0.000000
distance__mi                 1.848105
flights_climbed__count       4.666667
heart_rate__count/min        2.114943
resting_calories__kcal     126.907348
steps__count              4203.145182
weight__lb                  42.437718
classify                     1.000000
dtype: float64

In [35]:
daily_data_cl[(daily_data_cl.classify == 0)].mean()

active_calories__kcal       666.921494
cycling_distance__mi          0.522534
dietary_calories__cal         0.000000
distance__mi                  4.759427
flights_climbed__count        9.825340
heart_rate__count/min       139.967742
resting_calories__kcal     1939.461922
steps__count              11108.860783
weight__lb                    3.130158
classify                      0.000000
dtype: float64

In [36]:
daily_data_cl[(daily_data_cl.classify == 2)].mean()

active_calories__kcal      311.616538
cycling_distance__mi         0.026427
dietary_calories__cal     1409.368174
distance__mi                 2.310399
flights_climbed__count       5.890492
heart_rate__count/min      103.948321
resting_calories__kcal    1855.520738
steps__count              5444.736586
weight__lb                   5.735025
classify                     2.000000
dtype: float64

In [41]:
daily_data_cl.groupby('classify').agg(['mean']).round(1)

,active_calories__kcal,cycling_distance__mi,dietary_calories__cal,distance__mi,flights_climbed__count,heart_rate__count/min,resting_calories__kcal,steps__count,weight__lb
,mean,mean,mean,mean,mean,mean,mean,mean,mean
classify,,,,,,,,,
0,666.9,0.5,0.0,4.8,9.8,140.0,1939.5,11108.9,3.1
1,3.5,0.0,0.0,1.8,4.7,2.1,126.9,4203.1,42.4
2,311.6,0.0,1409.4,2.3,5.9,103.9,1855.5,5444.7,5.7