# For Loops
&copy; QuantSprout

Create a for loop

In [1]:
for x in [1,2,3]: 
    print (x)

1
2
3

Create a for loop with range

In [2]:
for x in range(10):
    x_squared =  x ** 2
    print (x_squared)

0
1
4
9
16
25
36
49
64
81

Create a for loop with multiple values

In [3]:
for price, quantity in [[1.99,4],[2.99,5],[3.99,6]]:
    print (price * quantity)

7.96
14.950000000000001
23.94

Capture the all the results of a for loop

In [4]:
results = []
for x in [10,20,30]:
    squared = x ** 2
    results.append(squared)

print(results)

[100, 400, 900]

### Exercise
#### 1. Create procedures that convert a list of Celsius temperatures into a list of Fahrenheit temperatures.

In [5]:
celsius_list = [0,10,20,37,100]
fahrenheit_list = []
for c in celsius_list:
    f = c * 1.8 + 32
    fahrenheit_list.append(f)
    
print(fahrenheit_list)

[32.0, 50.0, 68.0, 98.60000000000001, 212.0]

In [6]:
# print(list(range(2,5)))
# print(list(range(10,101,10)))

#### 2. Update your temperature conversion function from the Python Fundamentals exercise to accept a list of Celsius temperatures and return a list of Fahrenheit temperatures

In [7]:
def convert_temp_list(celsius_list):
    fahrenheit_list = []
    for c in celsius_list:
        f = c * 1.8 + 32.0
        fahrenheit_list.append(f)
    return fahrenheit_list

In [8]:
def convert_temp(c):
    f = c * 1.8 + 32
    return "{0} degrees C = {1} degrees F".format(c, f)

def convert_temp_list2(celsius_list):
    fahrenheit_list = []
    for c in celsius_list:
        fahrenheit_list.append(convert_temp(c))
    return fahrenheit_list

In [9]:
convert_temp_list2([0,30,100])

['0 degrees C = 32.0 degrees F',
 '30 degrees C = 86.0 degrees F',
 '100 degrees C = 212.0 degrees F']

#### Bonus: Add error handling to your temperature conversion function.

In [10]:
def convert_temp_check(c):
    if (type(c) == int) | (type(c) == float):
        f = c * 1.8 + 32
        return "{0} degrees C = {1} degrees F".format(c, f)
    else:
        return "Error. {} is a non-numeric value.".format(c)
    
def convert_temp_list3(celsius_list):
    fahrenheit_list = []
    for c in celsius_list:
        fahrenheit_list.append(convert_temp_check(c))
    return fahrenheit_list

In [11]:
convert_temp_list3([0,30,100,'cat'])

['0 degrees C = 32.0 degrees F',
 '30 degrees C = 86.0 degrees F',
 '100 degrees C = 212.0 degrees F',
 'Error. cat is a non-numeric value.']

In [33]:
def convert_temp_list4(celsius_list):
    fahrenheit_list = []
    for c in celsius_list:
        if (type(c) == int) | (type(c) == float):
            f = c * 1.8 + 32
            fahrenheit_list.append(f)
        else:
            fahrenheit_list.append("Error. {} is a non-numeric value.".format(c))
    return fahrenheit_list

In [34]:
convert_temp_list4((0,30,100,'cat'))

[32.0, 86.0, 212.0, 'Error. cat is a non-numeric value.']

In [35]:
c_list = [1,2,3,4,5,'NA']
convert_temp_list4(c_list)

[33.8, 35.6, 37.4, 39.2, 41.0, 'Error. NA is a non-numeric value.']