  ## For Loops
  &copy; QuantSprout

Create a for loop

In [2]:
for x in [1,2,3]:
    print(x)

1
2
3

Create a for loop with range

In [4]:
for x in range(10):
    print(x**2)

0
1
4
9
16
25
36
49
64
81

Create a for loop with multiple values

In [6]:
for price,quantity in [[1.99,4],[2.99,5],[3.99,6]]:
    print(price*quantity)

7.96
14.950000000000001
23.94

Capture the all the results of a for loop

In [6]:
results = []
for x in range(100):
    squared = x**2
    results.append(squared)
results

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

### Exercise
#### 1. Create procedures that convert a list of Celsius temperatures into a list of Fahrenheit temperatures.

In [5]:
fa = []
cel = [21,28,30,21]
for x in cel:
    fa.append((x*1.8)+ 32)
    
fa

[69.80000000000001, 82.4, 86.0, 69.80000000000001]

#### 2. Update your temperature conversion function from the Python Fundamentals exercise to accept a list of Celsius temperatures and return a list of Fahrenheit temperatures

In [13]:
def temp_conversion(temp):
    if (type(temp) == float) | (type(temp) == int):
        return temp*1.8 + 32
    else:
        return False
fa = []
cel = [21,28,30,21,"a"]
for x in cel:
    fa.append(temp_conversion(x))
   
    
fa

[69.80000000000001, 82.4, 86.0, 69.80000000000001, False]

### Bonus:

#### Add error handling to your temperature conversion function.

In [2]:
def temp_conversion(temp):
    if (type(temp) == float) | (type(temp) == int):
        return temp*1.8 + 32
    else:
        return False

fa = []
na = []
cel = [21,"b",200,30,21,"a","z",115]
for x in cel:
    if temp_conversionion(x) != False:
        fa.append(temp_conversion(x))
    else:
        na.append(x)
        
print(fa) 
print(na)

[69.80000000000001, 392.0, 86.0, 69.80000000000001, 239.0]
['b', 'a', 'z']