# Homework Assignment Number One

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Section 1: Census Data

Data background: https://www.kaggle.com/muonneutrino/us-census-demographic-data/data

In [2]:
census = pd.read_csv('../data/acs2015_county_data.csv', index_col=[0])
census.head()

,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
CensusId,,,,,,,,,,,,,,,,,,,,,
1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,1.0,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,0.7,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,0.4,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,0.1,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,0.1,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [3]:
census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3220 entries, 1001 to 72153
Data columns (total 36 columns):
State              3220 non-null object
County             3220 non-null object
TotalPop           3220 non-null int64
Men                3220 non-null int64
Women              3220 non-null int64
Hispanic           3220 non-null float64
White              3220 non-null float64
Black              3220 non-null float64
Native             3220 non-null float64
Asian              3220 non-null float64
Pacific            3220 non-null float64
Citizen            3220 non-null int64
Income             3219 non-null float64
IncomeErr          3219 non-null float64
IncomePerCap       3220 non-null int64
IncomePerCapErr    3220 non-null int64
Poverty            3220 non-null float64
ChildPoverty       3219 non-null float64
Professional       3220 non-null float64
Service            3220 non-null float64
Office             3220 non-null float64
Construction       3220 non-null float64
Production         3220 non-null float64
Drive              3220 non-null float64
Carpool            3220 non-null float64
Transit            3220 non-null float64
Walk               3220 non-null float64
OtherTransp        3220 non-null float64
WorkAtHome         3220 non-null float64
MeanCommute        3220 non-null float64
Employed           3220 non-null int64
PrivateWork        3220 non-null float64
PublicWork         3220 non-null float64
SelfEmployed       3220 non-null float64
FamilyWork         3220 non-null float64
Unemployment       3220 non-null float64
dtypes: float64(27), int64(7), object(2)
memory usage: 930.8+ KB

In [7]:
census = census.dropna()

In [10]:
census.isnull().count()

State              3218
County             3218
TotalPop           3218
Men                3218
Women              3218
Hispanic           3218
White              3218
Black              3218
Native             3218
Asian              3218
Pacific            3218
Citizen            3218
Income             3218
IncomeErr          3218
IncomePerCap       3218
IncomePerCapErr    3218
Poverty            3218
ChildPoverty       3218
Professional       3218
Service            3218
Office             3218
Construction       3218
Production         3218
Drive              3218
Carpool            3218
Transit            3218
Walk               3218
OtherTransp        3218
WorkAtHome         3218
MeanCommute        3218
Employed           3218
PrivateWork        3218
PublicWork         3218
SelfEmployed       3218
FamilyWork         3218
Unemployment       3218
dtype: int64

### 1. Are there any null values? If so drop rows with nulls from your dataset

### 2. What are the most populous counties in Maryland, Iowa, and Oregon

### 3. How many counties have a higher proportion of Hispanic people than black people?

### 4. How many counties in New York, California, Texas, Pennsylvania, and Ohio have counties where a majority of residents do not drive to work?

### 5. Looking at counties where the proportion of residents who work from home is greater than 10%, do you notice any trends in the locations of those counties?

### 6.  Make a histogram and a boxplot of the Unemployment column. What do these charts tell you?

### 7. Use seaborn to make four plots of your choosing on this dataset. Accompany each plot with a two-sentence description

## Section 2: College Majors

Background: https://www.kaggle.com/roundedup/new-york-citi-bike-trip-duration/version/1

In [3]:
bikes = pd.read_csv('../data/citibike_feb2014.csv')
bikes.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

### 1. Replace the spaces in the column names with underscores

### 2. Filter out trips that start at stations that have fewer than 1000 trips and filter out values in gender == 0

### 3. Is there any sort of relationship between birthyear and tripduration?

### 4. What are the top five most popular start and end station combinations?

### 5. Use Seaborn to visualize tripduration, usertype, and gender

### 6. Which five end stations on average have the longest trips? What about shortest trips?

### Optional

Use this tutorial https://www.datacamp.com/community/tutorials/time-series-analysis-tutorial to plot the number of trips by day and to show which day of the week is most popular for the bike share program

## Section 3: FIFA Soccer Game data

Background: https://www.kaggle.com/thec03u5/fifa-18-demo-player-dataset

In [ ]:
fifa = pd.read_csv('../data/fifa_data.csv')
fifa.head()

### 1. Clean up the dataset.

    - Lowercase the column names
    - Set the "name" column as the index
    - Drop the following columns "national_position", "national_kit", "club_kit", "club_joining", and "contract_expiry"
    - Get rid of all players who are goalkeepers and drop every column that starts with GK
    - Drop every player whose rating is less than 70
    - Convert the "height" and "weight" columns to float types
    - Check to see if there any nulls, if so drop them from the dataset

### 2.  Who are the top five players of the following attributes: speed, marking, and finishing

### 3. Who is the tallest French lefted foot player?

### 4. Show a pandas series of every attribute's correlation with the rating attribute

### 5. Make a heatmap of the dataset's correlation table

### 6. Return a dataframe with only players from the following clubs. Call the dataframe fifa2. From now on we'll be using fifa2

In [ ]:
clubs_list = ['Real Madrid', 'FC Barcelona', 'FC Bayern', 'Manchester Utd',
       'Chelsea', 'Arsenal', 'Juventus', 'PSG', 'Manchester City',
              'Bor. Dortmund', 'Liverpool', 'Roma']

### 7. Make a bar plot of the average long_shots, curve, and dribbling attributes of the clubs in the data

### 8. Make a scatter plot of short_pass vs marking and use the preffered_foot column to color-encode the dots.

### 9. Make a grouped boxplots using club_position as the x axis for the following attributes: dribbling, balance, and sliding_tackle

In [ ]:
#Dribbling boxplot

Which position is better at dribbling? ST or RCM? Why?

In [ ]:
#Balance boxplot

Which position is better at balance? LM or LDM? Why?

In [ ]:
#sliding_tackle boxplot

What is the IQR for positions ST, RB, and RM?