## Python Fundamentals
&copy; QuantSprout

### iPython Notebook Magic

#### Short cut keys:

-  view shortcut menu - esc then h
-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab

# Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python code

In [1]:
print("Hello, Data Science")

Hello, Data Science

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [1]:
type(1)

int

In [2]:
type(2.5)

float

In [3]:
type(True)

bool

In [4]:
type('hello')

str

### Methods for Objects
Convert string to lower case

In [5]:
"My Name".lower()

'my name'

Basic string insertions

In [6]:
"My name is {}".format('Craig')

'My name is Craig'

In [7]:
name = "Waldo"
"Where in the world is {}".format(name)

'Where in the world is Waldo'

You can insert multiple values into strings but requires labels

In [8]:
place = 'NY'
"{0} is in {1}".format(name, place)

'Waldo is in NY'

Try reversing order of the variables name and place.|

In [9]:
"{0} is in {1}".format(place, name)

'NY is in Waldo'

### Basic math in python
Some operators are pretty obvious

In [10]:
5 + 5

10

In [11]:
10 - 3 * 7

-11

But some operators are less intuitive

In [12]:
print('Hello ' + 'World')

Hello World

In [13]:
10 % 3  # modulo  operator(i.e. remainder)

1

In [14]:
10 ** 2  # exponent

100

In [15]:
1E3 + 1E-3 # exponent base 10

1000.001

Assign values to variables

In [16]:
x = 10
y = 5
z = 4

Use math with variables

In [17]:
x - y

5

In [18]:
x * y

50

Try dividing x by z

In [19]:
x/z

2.5

Try dividing x by 4.0

In [20]:
x/4.0

2.5

### Functions

#### Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [21]:
def simplest_function():
    print("I made a function")

Call function by name

In [22]:
simplest_function()

I made a function

You can create a function that requires an input

In [23]:
def square(x):
    return x**2

In [24]:
square(5)

25

### Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [25]:
numbers = [1, 2, 3,
           4, 5, 6,
           7, 8, 9]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can also use the backslash

In [26]:
long_string = 'This is a really, really, really '\
              'long sentence'
print(long_string)

This is a really, really, really long sentence

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [27]:
def convert_temp(c):
    f = c * 1.8 + 32
    return f

In [28]:
print(convert_temp(0))
print(convert_temp(100))
print(convert_temp(37))

32.0
212.0
98.60000000000001

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [29]:
def convert_temp_msg(c):
    f = c * 1.8 + 32
    return "{0} degrees C = {1} degrees F".format(c, f)

In [30]:
print(convert_temp_msg(0))
print(convert_temp_msg(100))
print(convert_temp_msg(33.123))

0 degrees C = 32.0 degrees F
100 degrees C = 212.0 degrees F
33.123 degrees C = 91.6214 degrees F

In [31]:
def convert_temp_msg2(c):
    f = convert_temp(c)
    return "{0:.2f} degrees C = {1:.2f} degrees F".format(c, f)

In [32]:
f = 1000
print(convert_temp_msg2(0))
print(convert_temp_msg2(100))
print(convert_temp_msg2(37))
print(f)

0.00 degrees C = 32.00 degrees F
100.00 degrees C = 212.00 degrees F
37.00 degrees C = 98.60 degrees F
1000

In [33]:
def square_return(x):
    return x**2

def square_print(x):
    print(x**2)

In [34]:
result = square_return(5)
print(result)

25

In [35]:
result = square_print(5)
print(result)

25
None

In [36]:
print(convert_temp_msg2('cat'))

TypeError: can't multiply sequence by non-int of type 'float'